<form action="/posts" method="POST">
  <% if(hasError=true) {%>
  <p id="input-error"><%= inputData.message %></p>
  <% } %>
  <div class="form-control">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="<%= title %>" required />
  </div>

  <div class="form-control">
    <label for="content">Content</label>
    <textarea
      name="content"
      id="title"
      rows="8"
      value="<%= content %>"
      required
    ></textarea>
  </div>
  <button class="btn">send</button>
</form>
