<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head',{title:'Not found'}) %>
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <h1>Not Found!</h1>
      <h3>Could not find resource</h3>
      <a class="btn" href="/">back to safety</a>
    </main>
  </body>
</html>
