<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head',{title:'Unauthorized Access!'}) %>
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <h1>404 Error</h1>
      <h3>Something Went Wrong</h3>
      <a class="btn" href="/">back to safety</a>
    </main>
  </body>
</html>
