<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <h1>Internal Server Error!</h1>
      <p>Sorry we have an issue on our end, but we're working on it</p>
    </main>
  </body>
</html>
