<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', {title:'Admin'}) %>
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <h1>Admin Blog Posts</h1>
      <form>
        <div class="form-control">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" required />
        </div>

        <div class="form-control">
          <label for="content">Content</label>
          <textarea name="content" id="title" rows="8" required></textarea>
        </div>
        <button class="btn">send</button>
      </form>
    </main>
  </body>
</html>
