<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', {title:'Admin'}) %>
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <h1>Admin Blog Posts</h1>

      <section id="posts">
        <h1>All Posts</h1>
      </section>
    </main>
  </body>
</html>
