<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', {title:'Welcome'}) %>
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <h1>Welcome to MyBlogs</h1>

      <section id="posts">
        <h1>Log in or Sign up</h1>
      </section>
    </main>
  </body>
</html>
