
body{
    font-family: 'Chakra Petch', sans-serif;
    
    padding: 0;
    
    margin: 0;
    background-color: rgb(75, 75, 75);
    color:white;
}

nav a{
text-decoration: none;
color:white;
}

nav a:hover{
    color:rgb(211, 207, 207);
}

nav #nav-bar{
    width:100%;
    list-style:none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;    
    background-color:teal;
    padding:1.5rem 1rem;
    margin:0;

}
nav #nav-bar li{
    padding:0 4rem;
}

main{
    width:400px;
    margin:2rem auto;
}
