form{
    background-color: rgb(142, 172, 172);
    border-radius:5px;
    margin:1rem 1rem;
    padding:1rem 1rem;
    color: rgb(49, 49, 49);
}
.form-control{
    margin:1rem 0;
}

input, label{
    display:block;
    font:inherit;
    border-radius: 5px;

}

.btn{
    background-color: teal;
    padding:8px 25px;
    margin:8px 25px;
    border-radius:5px;
    cursor:pointer;
}

.btn-alt{
    color:rgb(5, 190, 190);
    text-decoration:none;
}

.btn-alt:hover{
    color:rgb(180, 250, 250);
}