form{
    background-color: rgb(72, 158, 158);
    border-radius:5px;
    margin:1rem 1rem;
    padding:1rem 1rem;
    color: rgb(49, 49, 49);
    text-align:center;
}
.form-control{
    margin:1rem 0;
}

input, label, textarea{
    display:block;
    font:inherit;
    border-radius: 5px;
    width:100%;
   

}
.form-control input,textarea{
    background-color: rgb(207, 243, 243);
}

.btn{
    background-color: teal;
    padding:8px 25px;
    margin:8px 25px;
    border-radius:5px;
    cursor:pointer;
    font:inherit
}

.btn-alt{
    color:rgb(5, 190, 190);
    text-decoration:none;
}

.btn-alt:hover{
    color:rgb(180, 250, 250);
}